<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">{{product.short}}</h1>

        </div>
        <h3>Welcome to {{product.name}}</h3>
        <p>
                {{product.description}}
        </p>
        <p>Login in. To see it in action.</p>
        
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.uname" (keydown)="keyDownFunction($event)">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.passwd" (keydown)="keyDownFunction($event)">
            </div>
            <button  class="btn btn-primary block full-width m-b" (click)="submit()" [disabled]="!user.uname || !user.passwd">Login</button>
            
        <p class="m-t"> <small>{{product.name}} designed by {{company.name}} &copy; {{company.copyright}}</small> </p>
    </div>
</div>