<div class="row">
  <div class="col-lg-6">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Patients</h5>
        <div class="ibox-tools">
          <button type="button" data-toggle="modal" (click)="clickNew()" class="btn btn-xs btn-primary"><i
              class="fa fa-plus"></i>
            New</button>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover " id="editable" width="100%">
          <thead>
            <tr>
              <th width="10%"></th>
              <th width="10%">Code</th>
              <th width="40%">Name</th>
              <th width="20%">Phone</th>
              <th width="20%"></th>
            </tr>
          </thead>
        </table>

      </div>
    </div>
  </div>
  <div class="col-lg-6">

    <div class="table-responsive">
      <table class="table table-hover issue-tracker" *ngIf="patient_ui.patientHistory" id="patient_history">
        <tbody> 
          <tr *ngFor="let patientHistory of all_patientHistory; index as i">
              <td>
                  <span *ngIf="patientHistory.payment_status == 'Paid'" class="label label-primary">{{patientHistory.payment_status }}</span>
                  <span *ngIf="patientHistory.payment_status == 'Cancelled'" class="label label-danger">{{patientHistory.payment_status }}</span>
                  <span *ngIf="patientHistory.payment_status == 'Pending'"  class="label label-warning">{{patientHistory.payment_status }}</span> 
              </td>
              <td class="issue-info">
                <a href="#">
                  No - {{patientHistory.number}}
                </a>
  
                <small>
                  Dr. {{patientHistory.name }}
                </small>
                <small>
                  Appoiment Date: {{patientHistory.datee}}
                </small>
              </td>
              <td>
                 Rs. {{patientHistory.fee }}
              </td>
              <td>
                Issued Date: {{patientHistory.issued_datetime }}
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="newMember" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          
            <div class="col-sm-12">
              <div class="form-group"><label>Code</label> <input type="number" min="0" placeholder="Enter code" disabled
                  [(ngModel)]=patient.idpatient class="form-control" [ngModelOptions]="{standalone: true}" required>
              </div> 
              <div class="form-group"><label>Patient's Name</label> <input type="text" placeholder="Enter patient name"
                  [(ngModel)]="patient.name" class="form-control" [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group"><label>Patient's Mobile</label> <input type="text"
                  placeholder="Enter patient mobile no" [(ngModel)]="patient.contactNo" class="form-control"
                  [ngModelOptions]="{standalone: true}" required>
              </div>


              <div class="form-group"><label>Action</label>
                <br>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                      <button *ngIf="mode == 'update'" class="btn btn-danger btn-xs"
                      (click)="deleteDoctor()"><strong>Delete</strong></button>
                  </div>
                  <div class=" col-sm-4"></div>
                  <div class="col-sm-4">
                      <button *ngIf="mode == 'new'" class="btn btn-primary btn-xs"
                      (click)="savePatient()"><strong>Save</strong></button>
                    <button *ngIf="mode == 'update'" class="btn btn-primary btn-xs"
                      (click)="updateDoctor()"><strong>Update</strong></button>
                  </div>
                </div>
              </div>
            </div>

            
        </div>
      </div>
    </div>
  </div>
</div>