<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Patients</h5>
        <div class="ibox-tools">
          <a type="button" data-toggle="modal" href="#newMember" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i>
            New</a>
        </div>
      </div>
      <div class="ibox-content">
        <button (click)="getPatients()">sdfsd</button>
        <table *ngIf="patients?.length" class="table table-striped table-bordered table-hover " id="editable" width="100%">
          <thead>
            <tr>
              <th></th>
              <th>Code</th>
              <th>Name</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients; index as i">
              <td>{{i}}</td>
              <td>{{patient.idpatient || '--'}}</td>
              <td>{{patient.name || '--'}}</td>
              <td>{{patient.contactNo || '--'}}</td>
              <td>
                <button type="button" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Code</th>
              <th>Name</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
</div>




<div id="newMember" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <form role="form" method="post" enctype="multipart/form-data" method="post">

            <div class="col-sm-6 b-r">

              <div class="form-group"><label>Code</label> <input type="text" placeholder="Enter code"
                  class="form-control" name="name" required></div>

              <div class="form-group"><label>Name</label> <input type="text" placeholder="Enter name"
                  class="form-control" name="name" required></div>

              <div class="form-group"><label>Position</label>
                <select class="select2_demo_3 form-control" style="width: 260px;" name="userType_id">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>

              <div class="data_3 form-group">
                <label>Member Since</label>
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="member_since"
                    type="text" class="form-control" value="">
                </div>
              </div>

              <div class="data_3 form-group">
                <label>Date of Birth</label>
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="dob" type="text"
                    class="form-control" value="01/01/2000">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group"><label>NIC</label> <input name="nic" type="text" placeholder="Enter NIC number"
                  class="form-control" data-mask="999999999V"></div>

              <div class="form-group"><label>Phone</label> <input name="tel" type="text"
                  placeholder="Enter phone number" class="form-control" data-mask="9999999999" required></div>

              <div class="form-group"><label>Email</label> <input name="email" type="email" placeholder="Enter email"
                  class="form-control" required></div>

              <div class="form-group"><label>Address</label> <input name="adrs" type="text" placeholder="Enter address"
                  class="form-control" required></div>

              <div class="form-group"><label>Action</label>
                <br>
                <div class="col-sm-12">
                    <button class="col-sm-4 btn btn-xs btn-danger" type="submit"><strong>Delete</strong></button>
                    <div class="col-sm-4"></div>
                    <button class="col-sm-4 btn btn-xs btn-primary" type="submit"><strong>Save</strong></button>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>