<div class="row animated fadeInDown">

  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1">Doctor details</a></li>
      <li class=""><a data-toggle="tab" href="#tab-2" (click)="datesTabSelected()">Dates</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
        <div class="panel-body">

          <div class="ibox">
            <div class="ibox-title">
              <h5>Doctors</h5>
              <div class="ibox-tools">
                <button class="btn btn-xs btn-primary" (click)="clickNew()"><i class="fa fa-plus"></i>New</button>
              </div>
            </div>
            <div class="ibox-content">
              <table class="table table-striped table-bordered table-hover " id="editable" width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Base Hospital</th>
                    <th>Phone</th>
                    <th>Fee</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>

                <tfoot>
                  <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Base Hospital</th>
                    <th>Phone</th>
                    <th>Fee</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>

            </div>
          </div>

        </div>
      </div>
      <div id="tab-2" class="tab-pane">
        <div class="panel-body">
          <div class="ibox float-e-margins">
            <div class="ibox-title">

              <h5>Doctor Schedules</h5>

              <div class="ibox-tools">
                <button *ngIf="doctor.iddoctor != -1" class="btn btn-xs btn-primary" (click)="clickNewSchedule()"><i
                    class="fa fa-plus"></i>New</button>
              </div>
            </div>
            <div class="ibox-content">


              <label>Select doctor :</label>
              <select class="select2_demo_3 form-control" style="width: 260px;">

                <option value="">Select Doctor</option>
                <option *ngFor="let doctor of doctors; index as i" value="{{i}}">{{ doctor.name }}
                </option>
              </select>
              <div id="calendar" class="col-sm-8"></div>
              <input type="text" id="globalScheduleSelected" (change)="scheduleSelected()" hidden disabled>

              <div [hidden]="schedule.iddoctor_schedule == -1" class="col-sm-3">

                    <span class="badge badge-info">{{schedule.in_h + ':' + schedule.in_m + ' ' + schedule.in_d}}</span>
                    to
                    <span class="badge badge-info">{{schedule.out_h + ':' + schedule.out_m + ' ' + schedule.out_d}}</span>
                  
  
                  <button type="button" class="btn btn-xs btn-warning pull-right" (click)="showUpdateScheduleModal()">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>



                <div *ngIf="schedulePatients?.length" class="col-sm-12">
                  <table class="table table-striped table-bordered table-hover " id="editable" width="100%">
                    <thead>
                      <tr> 
                        <th>Number</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Phone</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let patient of schedulePatients; index as i">
                        <td>{{patient.number}}</td>
                        <td>{{patient.idpatient}}</td>
                        <td>{{patient.name}}</td>
                        <td>{{patient.contactNo}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

</div>

<div id="newDoctor" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-6 b-r">

            <div class="form-group"><label>Code</label> <input type="number" min="0" placeholder="Enter code"
                [(ngModel)]="doctor.iddoctor" class="form-control" [ngModelOptions]="{standalone: true}" disabled
                required>
            </div>

            <div class="form-group"><label>Name</label> <input type="text" placeholder="Enter name"
                [(ngModel)]="doctor.name" class="form-control" [ngModelOptions]="{standalone: true}" required></div>

            <div class="form-group"><label>Specialization</label> <input type="text" placeholder="Specialization"
                [(ngModel)]="doctor.specialization" class="form-control" [ngModelOptions]="{standalone: true}" required>
            </div>

            <div class="form-group"><label>Base Hospital</label> <input type="text" placeholder="Base Hospital"
                [(ngModel)]="doctor.base_hospital" class="form-control" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group"><label>Phone</label> <input type="text" placeholder="Phone"
                [(ngModel)]="doctor.contactNo" class="form-control" [ngModelOptions]="{standalone: true}" required>
            </div>

            <div class="form-group"><label>Fee Rs.</label> <input type="number" min="0" placeholder="Fee"
                [(ngModel)]="doctor.fee" class="form-control" [ngModelOptions]="{standalone: true}" required></div>

            <div class="form-group"><label>Description</label> <input type="text" placeholder="Description"
                [(ngModel)]="doctor.description" class="form-control" [ngModelOptions]="{standalone: true}"></div>


            <div class="form-group"><label>Action</label>
              <br>
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <button *ngIf="mode == 'update'" class="btn btn-xs btn-danger"
                    (click)="deleteDoctor()"><strong>Delete</strong></button>
                </div>
                <div class=" col-sm-4"></div>
                <div class="col-sm-4">
                  <button *ngIf="mode == 'new'" class="btn btn-xs btn-primary"
                    (click)="saveDoctor()"><strong>Save</strong></button>
                  <button *ngIf="mode == 'update'" class="btn btn-xs btn-primary"
                    (click)="updateDoctor()"><strong>Update</strong></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="newSchedule" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-6 b-r">
            <div class="form-group"><label>Code</label> <input type="number" min="0" placeholder="Enter code"
                [(ngModel)]="schedule.doctor.iddoctor" class="form-control" [ngModelOptions]="{standalone: true}"
                disabled>
            </div>

            <div class="form-group"><label>Name</label> <input type="text" placeholder="Enter name"
                [(ngModel)]="schedule.doctor.name" class="form-control" [ngModelOptions]="{standalone: true}" disabled>
            </div>

            <div class="form-group"><label>Specialization</label> <input type="text" placeholder="Specialization"
                [(ngModel)]="schedule.doctor.specialization" class="form-control" [ngModelOptions]="{standalone: true}"
                disabled>
            </div>

            <div class="form-group"><label>Base Hospital</label> <input type="text" placeholder="Base Hospital"
                [(ngModel)]="schedule.doctor.base_hospital" class="form-control" [ngModelOptions]="{standalone: true}"
                disabled>
            </div>
          </div>
          <div class="col-sm-6">


            <div class="form-group" hidden><label>Schedule Type</label>
              <div class="form-control" style="border: none !important;">
                <div class="radio radio-info radio-inline">
                  <input type="radio" id="inlineRadio1" value="true" name="radioInline" [(ngModel)]="schedule.repetive"
                    disabled>
                  <label for="inlineRadio1"> Repetive </label>
                </div>
                <div class="radio radio-inline">
                  <input type="radio" id="inlineRadio2" value="false" name="radioInline"
                    [(ngModel)]="schedule.repetive">
                  <label for="inlineRadio2"> One Day </label>
                </div>
              </div>
            </div>

            <div class="form-group"><label>In Time</label>
              <div class="form-control">
                <select style="width: 30%" #in_h (change)="inTimeSelected(in_h.value , in_m.value, in_t.value)">
                  <option [selected]="schedule.in_h == i+1" *ngFor="let x of  [].constructor(12) ;let i= index">{{i+1}}
                  </option>
                </select>:
                <select style="width: 30%" #in_m (change)="inTimeSelected(in_h.value , in_m.value, in_t.value)">
                  <option [selected]="schedule.in_m == i" *ngFor="let x of  [].constructor(60) ;let i= index">{{i}}
                  </option>
                </select>:
                <select style="width: 30%" #in_t (change)="inTimeSelected(in_h.value , in_m.value, in_t.value)">
                  <option [selected]="schedule.in_d == i" *ngFor="let i of ['AM','PM']">{{i}}</option>
                </select>
              </div>
            </div>

            <div class="form-group"><label>Out Time</label>
              <div class="form-control">
                <select style="width: 30%" #out_h (change)="outTimeSelected(out_h.value , out_m.value, out_t.value)">
                  <option [selected]="schedule.out_h == i+1" *ngFor="let x of  [].constructor(12) ;let i= index">{{i+1}}
                  </option>
                </select>:
                <select style="width: 30%" #out_m (change)="outTimeSelected(out_h.value , out_m.value, out_t.value)">
                  <option [selected]="schedule.out_m == i" *ngFor="let x of  [].constructor(60) ;let i= index">{{i}}
                  </option>
                </select>:
                <select style="width: 30%" #out_t (change)="outTimeSelected(out_h.value , out_m.value, out_t.value)">
                  <option [selected]="schedule.out_d == i" *ngFor="let i of ['AM','PM']">{{i}}</option>
                </select>
              </div>
            </div>

            <div class="form-group" [hidden]="schedule.repetive=='true'">
              <label>Select Date</label>
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control" id="selectDateDoctor" [(ngModel)]="schedule.daterange">
              </div>
            </div>

            <div class="form-group" [hidden]="schedule.repetive=='false'">
              <label>Select Date Range</label>
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control" type="text" id="selectDateRangeDoctor" [(ngModel)]="schedule.daterange" />
              </div>
            </div>

            <div class="form-group"><label>Action</label>
              <br>
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <button *ngIf="mode == 'editSchedule'" class="btn btn-xs btn-danger"
                    (click)="deleteSchedule()"><strong>Delete</strong></button>
                </div>
                <div class=" col-sm-4"></div>
                <div class="col-sm-4">
                    <button *ngIf="mode == 'newSchedule'" class="btn btn-xs btn-primary"
                    (click)="saveSchedule()"><strong>Save</strong></button>
                    <button *ngIf="mode == 'editSchedule'" class="btn btn-xs btn-primary"
                    (click)="updateSchedule()"><strong>Update</strong></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>