<div class="row animated fadeInDown">

  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1">Doctor details</a></li>
      <li class=""><a data-toggle="tab" href="#tab-2">Dates</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
        <div class="panel-body">

          <div class="ibox">
            <div class="ibox-title">
              <h5>Doctors</h5>
              <div class="ibox-tools">
                <button class="btn btn-xs btn-primary" (click)="clickNew()"><i class="fa fa-plus"></i>New</button>
              </div>
            </div>
            <div class="ibox-content">
              <table class="table table-striped table-bordered table-hover " id="editable" width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Base Hospital</th>
                    <th>Phone</th>
                    <th>Fee</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>

                <tfoot>
                  <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Base Hospital</th>
                    <th>Phone</th>
                    <th>Fee</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>

            </div>
          </div>

        </div>
      </div>
      <div id="tab-2" class="tab-pane">
        <div class="panel-body">
          <div class="ibox float-e-margins">
            <div class="ibox-title">

              <h5>Doctor Schedules</h5>

              <div class="ibox-tools">
                <button class="btn btn-xs btn-primary" (click)="clickNewSchedule()"><i
                    class="fa fa-plus"></i>New</button>
              </div>
            </div>
            <div class="ibox-content">


              <label>Select doctor :</label>
              <select class="select2_demo_3 form-control" style="width: 260px;">

                <option value="" [selected]="selectedDoc == ''">Select Doctor</option>
                <option *ngFor="let doctor of doctors; index as i" value="{{doctor.iddoctor}}">{{ doctor.name }}
                </option>
              </select>
              <div id="calendar" class="col-sm-8"></div>

              <!-- <div class="col-sm-3">
                <table *ngIf="members.length" class="table table-striped table-bordered table-hover " id="editable"
                  width="100%">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let member of members; index as i">
                      <td>{{member.code || '--'}}</td>
                      <td>{{member.name || '--'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

</div>

<div id="newDoctor" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <form role="form" method="post" enctype="multipart/form-data" method="post">

            <div class="col-sm-6 b-r">

              <div class="form-group"><label>Code</label> <input type="number" min="0" placeholder="Enter code"
                  [(ngModel)]="doctor.iddoctor" class="form-control" [ngModelOptions]="{standalone: true}" disabled
                  required>
              </div>

              <div class="form-group"><label>Name</label> <input type="text" placeholder="Enter name"
                  [(ngModel)]="doctor.name" class="form-control" [ngModelOptions]="{standalone: true}" required></div>

              <div class="form-group"><label>Specialization</label> <input type="text" placeholder="Specialization"
                  [(ngModel)]="doctor.specialization" class="form-control" [ngModelOptions]="{standalone: true}"
                  required></div>

              <div class="form-group"><label>Base Hospital</label> <input type="text" placeholder="Base Hospital"
                  [(ngModel)]="doctor.base_hospital" class="form-control" [ngModelOptions]="{standalone: true}"
                  required></div>
            </div>

            <div class="col-sm-6">
              <div class="form-group"><label>Phone</label> <input type="text" placeholder="Phone"
                  [(ngModel)]="doctor.contactNo" class="form-control" [ngModelOptions]="{standalone: true}" required>
              </div>

              <div class="form-group"><label>Fee Rs.</label> <input type="number" min="0" placeholder="Fee"
                  [(ngModel)]="doctor.fee" class="form-control" [ngModelOptions]="{standalone: true}" required></div>

              <div class="form-group"><label>Description</label> <input type="text" placeholder="Description"
                  [(ngModel)]="doctor.description" class="form-control" [ngModelOptions]="{standalone: true}"></div>


              <div class="form-group"><label>Action</label>
                <br>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <button *ngIf="mode == 'update'" class="btn btn-xs btn-danger"
                      (click)="deleteDoctor()"><strong>Delete</strong></button>
                  </div>
                  <div class=" col-sm-4"></div>
                  <div class="col-sm-4">
                    <button *ngIf="mode == 'new'" class="btn btn-xs btn-primary"
                      (click)="saveDoctor()"><strong>Save</strong></button>
                    <button *ngIf="mode == 'update'" class="btn btn-xs btn-primary"
                      (click)="updateDoctor()"><strong>Update</strong></button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="newSchedule" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <form role="form" method="post" enctype="multipart/form-data" method="post">

            <div class="col-sm-6 b-r">


              <div class="form-group" id="data_1">
                <label class="font-noraml">Simple data input format</label>
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text"
                    class="form-control" value="03/04/2014">
                </div>
              </div>

              <input class="form-control" type="text" name="daterange" value="01/01/2015 - 01/31/2015" />

              <div class="input-group clockpicker" data-autoclose="true">
                <input type="text" class="form-control" value="09:30">
                <span class="input-group-addon">
                  <span class="fa fa-clock-o"></span>
                </span>
              </div>


            </div>

            <div class="col-sm-6">
              <div class="form-group"><label>Phone</label> <input type="text" placeholder="Phone"
                  [(ngModel)]="doctor.contactNo" class="form-control" [ngModelOptions]="{standalone: true}" required>
              </div>

              <div class="form-group"><label>Fee Rs.</label> <input type="number" min="0" placeholder="Fee"
                  [(ngModel)]="doctor.fee" class="form-control" [ngModelOptions]="{standalone: true}" required></div>

              <div class="form-group"><label>Description</label> <input type="text" placeholder="Description"
                  [(ngModel)]="doctor.description" class="form-control" [ngModelOptions]="{standalone: true}"></div>


              <div class="form-group"><label>Action</label>
                <br>
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <button *ngIf="mode == 'update'" class="btn btn-xs btn-danger"
                      (click)="deleteDoctor()"><strong>Delete</strong></button>
                  </div>
                  <div class=" col-sm-4"></div>
                  <div class="col-sm-4">
                    <button *ngIf="mode == 'new'" class="btn btn-xs btn-primary"
                      (click)="saveDoctor()"><strong>Save</strong></button>
                    <button *ngIf="mode == 'update'" class="btn btn-xs btn-primary"
                      (click)="updateDoctor()"><strong>Update</strong></button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>